<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <!-- Buttons-->
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit">Save</button>
                    <button class="btn btn-danger" type="button">Cancel</button>
                </div>
            </div>
            <!-- Name input-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input 
                            type="text"
                            id="name"
                            formControlName="name"
                            class="form-control">
                    </div>
                </div>
            </div>
            <!-- image input-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image File Path:</label>
                        <input 
                            type="text"
                            id="imagePath"
                            formControlName="imagePath"
                            class="form-control">
                    </div>
                </div>
            </div>
            <!-- image preview-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <img 
                            src=""                              
                            class="img-responsive">
                    </div>
                </div>
            </div>
            <!-- Description textbox-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea 
                            id="" 
                            cols="30" 
                            rows="6"
                            formControlName="description"
                            class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <!-- create/manage an array of controls-->
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div 
                        class="row"
                        *ngFor="let ingredientCtrl of controls; let i = index" 
                        [formGroupName]="i">
                        <div class="col-xs-8">
                            <input 
                                type="text"
                                id="name" 
                                formControlName="name"
                                class="form-control">
                        </div>
                        <div class="col-xs-2">
                            <input 
                                type="number"
                                id="amount" 
                                formControlName="amount"
                                class="form-control">
                        </div>
                        <div class="col-xs-2">
                            <button 
                                class="btn btn-danger">
                                Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>